<div class="bg">
    <div class="d-flex align-items-center translate-middle-y flex-column">
        <h1 class="fs-1 fw-bold">Grow Together</h1>
        <p class="text-center fs-5">GrowTogether is your online hub for plant enthusiasts. Swap, share, and grow your plant collection with a passionate community.<br>
		Explore plant care tips, connect with fellow gardeners, and trade locally or globally. Join us in nurturing a greener world.<br>
		Start your plant journey today!</p>
    </div>
    <div class="d-flex justify-content-between mt-5">
        <div>
            <img src="../../../assets/images/plant_hand_large.png" alt="">
        </div>
        <div>
            <img src="../../../assets/images/plant_hand_large_mirror.png" alt="">
        </div>
    </div>
</div>
