<nav class="navbar navbar-expand-sm">
    <a class="navbar-brand" routerLink="/"><h1>GrowTogether</h1></a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end navigacija" id="navbarSupportedContent">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a class="nav-link" routerLink="/" routerLinkActive="active"[routerLinkActiveOptions]={exact:true}>Home</a>
        </li>
        <li class="nav-item Log rounded hover" >
            <a class="nav-link" routerLink="/plant" routerLinkActive="active">Plants</a>
        </li>

        <li class="nav-item Log rounded hover" *ngIf="!(isAuthenticated | async)">
            <a class="nav-link" routerLink="/login" routerLinkActive="active">Log In</a>
        </li>
        <li class="nav-item Log rounded hover" *ngIf="isAuthenticated | async" (click)="logout()">
            <a class="nav-link">Logout</a>
        </li>

        <li class="nav-item hover" *ngIf="isAuthenticated | async">
            <a class="nav-link" routerLink="/profile" routerLinkActive="active">
            <fa-icon [icon]="['fas', 'user']" style="color:white" size="xl"></fa-icon>
        </a></li>
    </ul>
    </div>
</nav>