@import "@fontsource/quicksand";
*{
    font-family: "Quicksand";
}

@import "../node_modules/toastr/build/toastr.css";

@import "../node_modules/bootstrap/dist/css/bootstrap.min.css";

.bg{
    background-color: #0a4226;
    z-index: -2;
    height: 90vh;
}
