<div class="card mb-4">
    <div class="card-body text-center d-flex flex-column">
      <span class="d-flex flex-row-reverse span align-self-center">
        <label for="image-input">
          <fa-icon [icon]="['fas', 'pen']"></fa-icon>
        </label>
        <input type="file" id="image-input">
        <img id="avatar" src="../../../../assets/images/plant_hand_large.png" class="rounded-circle img-fluid" style="width: 150px;">
      </span>
      <h5 class="my-3">CEKA</h5>
      <div class="d-flex justify-content-center mb-2">
        <button type="button" class="btn btn-success">Post Plant</button>
      </div>
    </div>
  </div>